<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- path -->
        <%_ const path='./../'; _%>
        <!-- meta -->
        <%_ const meta = { title:'Aboutページタイトル',
        description:'説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。説明文が入ります。',
        url:'about' }; _%>
        <!-- head -->
        <%- include('./../_include/_head', { path:path, meta:meta,}) %>
    </head>
    <body>
        <%- include('./../_include/_header',{path:path,}) %>

        <!-- main -->
        <main>
            <!-- .p-about -->
            <section id="about" class="p-about c-section">
                <div class="c-section__inner">
                    <h2 class="c-section__title">about</h2>
                    <p class="c-section__lead">aboutページです。</p>
                </div>
            </section>
            <!-- /.p-about -->
        </main>
        <!-- /main -->

        <%- include('./../_include/_footer',{path:path,}) %>
    </body>
</html>
