<details class="c-details">
    <summary>アコーディオンタイトル</summary>
    <div class="c-details__content">
        <h3 class="c-listsTitle"></h3>
        <ul class="c-lists">
            <li>リスト1</li>
            <li>リスト2</li>
            <li>リスト3</li>
            <li>リスト4</li>
            <li>リスト5</li>
        </ul>
    </div>
</details>
