<details class="c-details">
    <summary>アコーディオンタイトル</summary>
    <div class="c-details__content">
        <h3 class="c-lists-title">リストタイトル</h3>
        <ul class="c-lists">
            <li class="c-lists__list">リスト1</li>
            <li class="c-lists__list">リスト2</li>
            <li class="c-lists__list">リスト3</li>
            <li class="c-lists__list">リスト4</li>
            <li class="c-lists__list">リスト5</li>
        </ul>
    </div>
</details>
