<!-- .c-loading -->
<article class="c-loading" id="js-loading">
    <div class="c-loading__spinner"></div>
</article>
<!-- /.c-loading -->

<!-- .l-header -->
<header class="l-header" id="js-header">
    <div class="l-header__inner">
        <a class="l-header__logo" href="/">logo</a>
        <nav class="l-header__nav">
            <a href="#contact" class="l-header__navCta">contact</a>
            <input
                type="checkbox"
                class="js-navToggle"
                id="l-header__navToggle"
            />
            <label for="l-header__navToggle" class="l-header__navHamburger">
                <span></span>
            </label>
            <label for="l-header__navToggle" class="l-header__navClose"></label>
            <ul class="l-header__navLists js-navLists">
                <li><a href="/about">about</a></li>
                <li><a href="#work">work</a></li>
                <li><a href="#service">service</a></li>
                <li><a href="#profile">profile</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- /.l-header -->
