<div class="c-table">
    <table class="c-table__block">
        <caption>
            上に見出しが来るタイプの表・テーブル
        </caption>
        <tr>
            <th>＼</th>
            <th>表上見出し1</th>
            <th>表上見出し2</th>
        </tr>
        <tr>
            <th>表横見出し1</th>
            <td>表コンテンツ1</td>
            <td>表コンテンツ2</td>
        </tr>

        <!--  横に結合する  -->
        <tr>
            <th>表横見出し2</th>
            <td colspan="2">表コンテンツ横2行</td>
        </tr>

        <!--  縦に結合する  -->
        <tr>
            <th rowspan="2">表横見出し3</th>
            <td>表コンテンツ1</td>
            <td>表コンテンツ2</td>
        </tr>
        <tr>
            <td>表コンテンツ3</td>
            <td>表コンテンツ4</td>
        </tr>
    </table>
</div>
