/* c-cta
--------------------------- */
@use "./../../foundation/system" as s;

.c-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &__copy {
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 0 30px;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            display: inline-block;
            width: 28px;
            height: 1px;
            background-color: s.$c-base-black;
        }
        &:before {
            left: 0;
            transform: rotate(60deg);
        }
        &:after {
            transform: rotate(-60deg);
            right: 0;
        }
    }

    &__button {
        display: inline-block;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: s.$c-base-white;
        background-color: s.$c-primary;
        border: solid 2px s.$c-primary;
        border-radius: 50px;
        margin: 0 auto;
        padding: 16px 20px;
        min-width: 320px;
        max-width: 100%;
        text-decoration: none;

        position: relative;
        &:after {
            position: absolute;
            right: 24px;
            content: "\e5e1";
            font-family: "Material Icons";
        }
        &:hover {
            color: s.$c-primary;
            background-color: transparent;
        }
    }

    @include s.breakpoint(tablet) {
    }
    @include s.breakpoint(pc) {
    }
}
