/* c-cta
--------------------------- */
@use "./../../foundation/system" as s;

.c-cta {
    text-align: center;
    margin: 32px 0;

    &__button {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: s.$c-base;
        background-color: s.$c-accent;
        border: solid 2px s.$c-accent;
        border-radius: 50px;
        padding: 16px 79px;
        text-decoration: none;

        position: relative;
        &:after {
            position: absolute;
            right: 24px;
            content: "\e5e1";
            font-family: "Material Icons";
        }
        &:hover {
            color: s.$c-accent;
            background-color: transparent;
        }
    }

    @include s.breakpoint(tablet) {
    }
    @include s.breakpoint(pc) {
    }
}
