/* c-loading
--------------------------- */
@use "./../../foundation/system" as s;

.c-loading {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: s.$c-base;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	&.is-loaded {
		opacity: 0;
		visibility: hidden;
	}

	&__spinner {
		width: 100px;
		height: 100px;
		margin: 40vh auto;
		border: 3px solid s.$c-accent;
		border-top: 3px solid transparent;
		border-radius: 50%;
		animation: loadingAnimation 0.8s linear 0s infinite;
	}
	@keyframes loadingAnimation {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(359deg);
		}
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
