/* c-section
--------------------------- */
@use "./../../foundation/system" as s;

.c-section {
    background-color: s.$c-base-white;
    padding: 120px 0;
    &:nth-of-type(even) {
        background-color: s.$c-base-lightGray;
    }

    &__inner {
        @include s.content-maxwidth();
        margin: 0 auto;
        padding: 10px 20px;
    }
    &__title {
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        margin: 0 auto 12px;
    }
    &__lead {
        display: table;
        margin: 0 auto 32px;
        text-align: left;
    }
    &__block {
        margin: 32px auto 0;
    }

    @include s.breakpoint(tablet) {
    }
    @include s.breakpoint(pc) {
    }
}
