/* c-table
--------------------------- */
@use "./../../foundation/system" as *;

.c-table {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &__block {
        border-collapse: collapse;
        border: solid 3px $c-base-black;
        margin: 0 auto;
    }
    caption {
        text-align: center;
        color: $c-body-white;
        font-weight: bold;
        background: $c-base-black;
        padding: 8px 10px;
    }
    th,
    td {
        padding: 8px 10px;
    }
    th {
        border: solid 1px $c-base-black;
        background-color: rgba($color: $c-base-black, $alpha: 0.2);
    }
    td {
        border: dashed 1px $c-base-black;
    }
    // }
    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
    }
}
