/* c-table
--------------------------- */
@use "./../../foundation/system" as s;

.c-table {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &__block {
        border-collapse: collapse;
        border: solid 3px s.$c-base-black;
        margin: 0 auto;
    }
    caption {
        text-align: center;
        color: s.$c-body-white;
        font-weight: bold;
        background: s.$c-base-black;
        padding: 8px 10px;
    }
    th,
    td {
        padding: 8px 10px;
    }
    th {
        border: solid 1px s.$c-base-black;
        background-color: rgba($color: s.$c-base-black, $alpha: 0.2);
    }
    td {
        border: dashed 1px s.$c-base-black;
    }
    // }
    @include s.breakpoint(tablet) {
    }
    @include s.breakpoint(pc) {
    }
}
