<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- ogp -->
<meta property="og:type" content="website" />
<title><%= title%></title>
<meta name="description" content="<%= description %>" />
<meta property="og:title" content="<%= title%>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:url" content="サイトのURL" />
<meta property="og:image" content="サイトのURL/asset/img/ogp.webp" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ツイッターアカウント" />
<link rel="icon" type="image/x-icon" href="./asset/img/favicon.ico" />
<!-- css -->
<link rel="stylesheet" href="./asset/css/style.css" />
