/* l-footer
--------------------------- */
@use "./../foundation/system" as s;

.l-footer {
    // text-align: center;
    font-size: 1.4rem;
    background: s.$c-base-black;
    padding: 40px 0 50px;

    &__inner {
        @include s.content-maxwidth();
        margin: 0 auto;
        padding: 10px 20px;
        color: s.$c-base-white;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 16px;
    }
    &__nav {
    }
    &__subtitle {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 8px;
    }
    &__lists {
        li + li {
            margin-top: 6px;
        }
        a {
            color: s.$c-base-white;
        }
    }
    &__copy {
        font-size: 1.2rem;
        margin: 8px auto 0;
    }

    @include s.breakpoint(tablet) {
        &__inner {
            flex-direction: row;
        }
        &__copy {
            margin: auto 0 0;
        }
    }
    @include s.breakpoint(pc) {
    }
}
