/* base
--------------------------- */
@use "./system" as s;

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    line-height: 1.6;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    color: s.$c-body-black;
    background-color: s.$c-base-white;
    font-size: 1.6rem;
    font-family: YuGothic, "Yu Gothic", "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 500;
    max-width: 100vw;
    min-width: 350px;
    width: 100%;
    overflow-x: hidden;
}
::selection {
    background-color: rgba($color: s.$c-base-black, $alpha: 0.7);
    color: s.$c-body-white;
}

img,
video,
object {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}
a {
    color: #1ca9e3;
    text-decoration: underline;
    position: relative;

    &:hover {
        text-decoration: none;
    }
}
a:hover img {
    text-decoration: none;
    opacity: 0.8;
    @include s.transition-base();
}
a,
label,
input,
button {
    @include s.transition-base();
}
